body{
    background-color: rgb(239, 239, 69);
    margin-top: 0px;
    margin-left: 400px;
    margin-right: 400px;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 0px;
}
#flex-container {
    display: flex;
    flex-direction: row;
    flex: auto auto auto;
    align-items: center;
    width: 600px;
    height:200px;
  }
.axisx{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(64, 146, 160);
    animation: myAnimation1 4s ease 1s infinite reverse;
}
@keyframes myAnimation1{
    0%{
        transform:skewX(-30deg);
    }
    50%{
        transform:skewX(30deg);
    }
    100%{
        transform:skewX(-30deg);
    }
}
.axisy{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(173, 145, 179);
    animation: myAnimation2 4s ease 1s infinite reverse;
}
@keyframes myAnimation2{
    0%{
        transform:skewy(-30deg);
    }
    50%{
        transform:skewy(30deg);
    }
    100%{
        transform:skewy(-30deg);
    }
}
.rotate{
    width: 100px;
    height: 100px;
    margin: 30px;
    background-color: rgb(89, 145, 168);
    transition: all 2s ease-in-out;
    animation-name: myAnimation;
    position: relative; 
    animation: myAnimation 4s ease 1s infinite reverse;
}
@keyframes myAnimation{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.sheight{
    width: 120px;
    height: 100px;
    margin: 30px;
    background-color: rgb(64, 146, 160);
    border: 2px solid black;
    animation: myAnimation3 4s ease 1s infinite reverse;
}
@keyframes myAnimation3{
    0%{
        height:120px;
    }
    50%{
        height:50px;
    }
    100%{
        height:120px;
    }
}
.swidth{
    width: 120px;
    height: 100px;
    margin: 30px;
    background-color: rgb(130, 52, 38);
    border: 2px solid black;
    animation: myAnimation4 4s ease 1s infinite reverse;
}
@keyframes myAnimation4{
    0%{
        width:120px;
    }
    50%{
        width:50px;
    }
    100%{
        width:120px;
    }
}

.rhw{
    width: 100px;
    height: 100px;
    margin: 30px;
    margin-left: 400px;
    background-color: rgb(54, 139, 28);
    border: 2px solid black;
    transition: all 2s ease-in-out;
    animation-name: myAnimation5;
    position: absolute; 
    animation: myAnimation5 3s ease 1s infinite alternate-reverse;
}
@keyframes myAnimation5{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(-90deg);
    }
}
.another{
    color: rgb(92, 42, 92);
    text-decoration: underline;
}